[Unit]
Description=Janus WebRTC Gateway
After=syslog.target network.target

[Service]
User=ubnt
ExecStart=/usr/local/bin/janus
TimeoutSec=100
TimeoutStopSec=300


[Install]
WantedBy=multi-user.target