[Unit]
Description=Janus WebRTC Gateway
After=syslog.target network.target
PartOf=janus.service

[Service]
ExecStart=/usr/local/bin/janus
TimeoutSec=100
TimeoutStopSec=300


[Install]
WantedBy=default.target