[Unit]
Description=NVR recording process for %i
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nvr_record /mnt/nvr/cameras/%i.json
TimeoutSec=100
TimeoutStopSec=300
WorkingDirectory=/nvr
Restart=always
RestartSec=2
CPUWeight=20
CPUQuota=85%
IOWeight=20
MemorySwapMax=0

[Install]
WantedBy=default.target