[Unit]
Description=NVR streaming process for %i
After=syslog.target network-online.target janus.service
PartOf=janus.service

[Service]
Type=simple
ExecStart=/usr/local/bin/nvr_stream /nvr/cameras/%i.json
TimeoutSec=100
TimeoutStopSec=300
WorkingDirectory=/nvr
Restart=always
RestartSec=2
Environment="GST_VAAPI_ALL_DRIVERS=1"

[Install]
WantedBy=default.target