[Unit]
Description=NVR streaming process for %i
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nvr_stream /nvr/cameras/%i.json
TimeoutSec=100
TimeoutStopSec=300
WorkingDirectory=/nvr
Restart=always
RestartSec=2

[Install]
WantedBy=default.target